* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body {
  background-color: #072227;
  font-family: consolas;
  color:#AEFEFF;
}

.header {
  margin: 0 auto;
  background-color:#35858B;
  padding:10px;
  margin-bottom: 25px;
}

.title {
  padding: 15px;
  width: 50vw;

  margin-top: 16px;
  margin-right: 12px;
  margin-bottom: 5px;

  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 150%;

}
.subtitle{
  display: flex;
  justify-content: center;
  align-items: center;

  padding:5px;
  margin-bottom: 10px;
}

.main {
  width: 500px;
  border: 3px solid #AEFEFF;
  border-radius: 10px;
  padding: 30px;
  margin:auto;
}

.landing-page-text {
  margin-top: 5px;
  margin-bottom: 5px;


  display: flex;
  justify-content: center;
  align-items: center;
  padding:30px
}

.instruction {
 margin: auto;
  text-align: center;
  font-size: 150%;
}

.option-buttons{
  margin-bottom: 40px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
}

.icon{
  width:50px;
  height: auto;

  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon{
  width:30px;
  height: auto;
}

.encrypt-button {
  border: 3px solid #AEFEFF;
  color: #AEFEFF;
  font-weight: bold;
  background: url(speech-bubble.png);

  padding: 15px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.decrypt-button {
  border: 3px solid #AEFEFF;
  color: #AEFEFF;
  font-weight: bold;
 
  padding: 15px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.warning {
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 5px;

text-align: center;

}

.footer {
 margin:5%;

text-align: center;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}

